@page "/"

<PageTitle>Index</PageTitle>
<link rel=""

<h1>KubaMeble </h1>

<div class="NavBar">
	<a>meble</a>
	<a>kuchnie i agd</a>
	<a>akcesoria i dekoracje</a>
	<a>lampy</a>
	<a>dzieci</a>
	<a>inspiracje</a>
	<a>kolekcje</a>
	<a>promocje</a>
</div>

Welcome to your new app.

